body {
    font-family: 'Noto Sans', sans-serif;
}
.button {
    display: none;
}
.popup-container {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.popup {
    background-color: #fff;
    padding: 10% 20%;
    margin: 10vh 5vw;
}